@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  background: rgb(27, 27, 34);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
header {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
}
header a {
  color: #eee;
  margin-left: 50px;
  font-size: 15px;
}
header h3 {
  color: white;
  font-size: 30px;
  margin-left: 40px;
  font-weight: 600;
  letter-spacing: 2px;
}
header .btns {
  position: relative;
  margin: auto;
  left: 300px;
  background: transparent;
}
header .btns .s-btn {
  margin-left: 30px;
  background: transparent;
  color: white;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-weight: 500;
}
header .btns .l-btn {
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight: 500;
  width: 70px;
  height: 30px;
}
header span {
  position: relative;
  left: 7px;
  top: -8px;
  font-size: 12px;
}

.container {
  position: relative;
  top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.btn,
.option-btn,
.delete-btn {
  display: block;
  width: 200px;
  right: 1000px;
  text-align: center;
  background-color: #133e87;
  color: white;
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.2s;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  scale: 1.1;
}

.option-btn i,
.delete-btn i {
  padding-right: 0.5rem;
}

.option-btn {
  background-color: #608bc1;
}

.delete-btn {
  margin-top: 0;
  background-color: red;
}
.shopping-cart h1 {
  position: relative;
  color: white;
  text-align: center;
}
.shopping-cart table {
  text-align: center;
  width: 100%;
}

.shopping-cart table thead th {
  color: white;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.shopping-cart table tr td {
  padding: 1.5rem;
  font-size: 2rem;
  color: white;
  font-weight: 200;
}

.shopping-cart table input[type='number'] {
  padding: 1rem 2rem;
  font-size: 2rem;
  width: 10rem;
}

.shopping-cart table input[type='submit'] {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.shopping-cart table input[type='submit']:hover {
}

.shopping-cart table .table-bottom {
}

.shopping-cart .checkout-btn {
  text-align: center;
  margin-top: 1rem;
}

.shopping-cart .checkout-btn a {
  display: inline-block;
  width: auto;
}

.shopping-cart .checkout-btn a.disabled {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}

/* media queries  */

@media (max-width: 1200px) {
  .shopping-cart {
    overflow-x: scroll;
  }

  .shopping-cart table {
    width: 120rem;
  }
  .shopping-cart .checkout-btn {
    text-align: left;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
    text-align: center;
    font-size: 2.5rem;
  }

  .display-product-table {
    overflow-x: scroll;
  }

  .display-product-table table {
    width: 90rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .products .box-container {
    grid-template-columns: 1fr;
  }
}
