@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(27, 27, 34);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: +1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left a,
.nav-right a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  transition: 0.2s;
}
.nav-left .nav-item {
  font-size: 15px;
}
.nav-left .nav-item span {
  font-size: 10px;
  position: relative;
  left: 5px;
  top: -10px;
}

.nav-left .nav-item:hover,
.nav-right a:hover {
  scale: 1.1;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.l-btn,
.r-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 15px;
}

main {
  position: relative;
  top: 80px;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(27, 27, 34);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.games img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.games-info {
  background: rgb(27, 27, 34);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.games-title {
  font-size: 25px;
  margin: 10px 0;
  color: white;
}

.games-price {
  font-size: 16px;
  font-weight: bold;
  color: #e67e22;
}

.payment-info {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background: rgb(27, 27, 34);
  text-align: left;
}

.payment-info label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: white;
}

.payment-info input[type="text"],
.payment-info input[type="submit"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #8fc3ff;
}

.payment-info input[type="submit"] {
  background-color: #133e87;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.payment-info input[type="submit"]:hover {
  scale: 1.06;
}

.payment-info input::placeholder {
  font-size: 12px;
  color: white;
}

.btn {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  color: #fff;
  background-color: #e65151;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  scale: 1.06;
}
