@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
}

nav {
  top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  position: fixed;
  width: 270px;
  height: 100%;
  min-height: 350px;
  color: white;
  background: rgba(0, 0, 0, 0.801);
  transition: ease-in 0.3s;
  z-index: 100;
}
nav.hide {
  width: 0;
}
nav span {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: 800;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
.sidebar-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 35%;
  width: 100%;
  list-style: none;
  overflow: hidden;
}
.sidebar-menu li {
  text-align: center;
  width: 100%;
}
.sidebar-menu li a {
  display: inline-flex;
  align-items: center;
  height: 55px;
  width: 75%;
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: ease-in 0.16s;
  border: none;
  border-radius: 5px;
}
.sidebar-menu li a:hover {
  margin-left: 20px;
  background-color: #b90e0a;
  color: black;
}
.sidebar-menu li a i {
  margin: 0 18px;
  width: 20px;
}
#toggle-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -70px;
  right: -10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 30px;
  transition: linear 0.2s;
}
#toggle-btn:hover {
  background: #b90e0a;
  color: black;
}
#topnav-bar {
  background:black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  justify-content: right;
  top: 0px;
  width: 100%;
  height: 100px;

}
.logo1 {
  position: fixed;
  display: flex;
  left: 70px;
  top: 26px;
  height: 60px;
}
.logo1 h1 {
  position: relative;
  color: #b90e0a;
  left: 10px;
  top: 16px;
  font-family: 'Poppins', sans-serif;
}
.topnav-search {
  top: 27px;
  display: inline-flex;
  position: absolute;
  right: 80px;
}
#sitelogo {
  display: block;
  position: fixed;
  top: -10px;
  width: 200px;
  margin: 10px;
}
#site-search {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  display: inline-flex;
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 10px;
  border: 2px solid #b90e0a;
  background: transparent;
}
#btnsearch {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  width: 80px;
  border-radius: 10px;
  height: 38px;
  margin-left: 10px;
  border: 2px solid #b90e0a;
  background: transparent;
  color: #e65a5a;
}
.topnav-register {
  position: relative;
  top: 22px;
}

.topnav-user {
  position: relative;
  top: 22px;
}
#b3 {
  position: relative;
  width: 50px;
  font-size: 25px;
}
#b3 {
  right: 10px;
  color: #e65a5a;
  border: 2px solid #b90e0a;
  background: transparent;
  font-family: Roboto;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
  margin: 4px;
  height: 39px;
  transition: 0.1s;
}
#btnsearch:hover,
#b3:hover {
  border: none;
  color: black;
  background-color: #e65a5a;
  font-weight: bold;
}
