@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(27, 27, 34);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left a,
.nav-right a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  transition: 0.2s;
}
.nav-left .nav-item {
  font-size: 15px;
}

.nav-left .nav-item:hover,
.nav-right a:hover {
  scale: 1.1;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.l-btn,
.r-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 15px;
}
main {
  margin: 30px auto;
  top: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.games {
  overflow: hidden;
  text-align: center;
  width: 220px;
  height: 400px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px;
}
.games .games-title,
.games .games-price {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
  top: -25px;
}
.games-btn {
  font-family: 'Poppins', sans-serif;
}
.btn {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
}
form .games .btn .buynow-btn {
  background-color: #608bc1;
  height: 40px;
  width: 300px;
  color: white;
  cursor: pointer;
}
form .games .btn .cart-btn {
  background-color: #133e87;
  height: 40px;
  width: 300px;
  color: white;
  cursor: pointer;
}
form .games .btn .delete-btn{
  background-color: #e65151;
  height: 40px;
  width: 300px;
  color: white;
  cursor: pointer;
}
.games:hover img {
  scale: 1.1;
}
.games:hover {
}
.games img {
  position: relative;
  top: -53px;
  height: 160px;
  transition: all 0.3s;
}

.games a:hover {
  transform: scale(1.1);
}
